<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav p-4">

      <a class="nav-link nav-item-color" [routerLink]="['/principal/home']"
        [ngClass]="this.activeRoute('home') ? 'activated' : ''"> Home </a>
      <span class="text-center mt-2"style="color: white; text-align: bottom; cursor: default;">|</span>

      <a class="nav-link nav-item-color" [routerLink]="['/principal/eventos-mineracao']"
        [ngClass]="this.activeRoute('eventos-mineracao') ? 'activated' : ''">Eventos de Mineracao</a>
      <span class="text-center mt-2"style="color: white; text-align: bottom; cursor: default;">|</span>

      <a class="nav-link nav-item-color" [routerLink]="['/principal/home']">Pricing</a>

    </div>
  </div>
</nav>
