
.home-container {
  width: 50vw;
  height: 82vh;
  padding: 50px;
  background-color: #21223f;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;

  /* align-content: flex-start; */
  /* justify-content: start; */
  /* justify-content: space-around; */
  border-radius: 25px;
}

.pilacoins {
  color: whitesmoke;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: center;
  justify-content: center;
}

.pilacoins span {
  color: #8A95A5;
  font-weight: bolder;
}

.pilacoins h3 span {
  margin-left: 20px;
  color: #B9C6AE;
  font-weight: 700;
}

.pilacoins h3 {
  margin-top: 10px;
}


.pubkey {
  color: whitesmoke;
  width: 500px;
  height: 200px;
  margin-top: 200px;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.pubkey span {
  color: #8A95A5;
  font-weight: bolder;
}

.pubkey h3 {
  margin-top: 10px;
  color: #B9C6AE;
  font-weight: 700;
  word-break: break-all;
}


.faWallet {
  color: #B9C6AE;
  display: flex;
  align-self: start;
}

.faCopy {
  color: white;
  margin-left: 15px;
  cursor: pointer;
}


#custom-target {
  position: relative;
  width: 600px;
  height: 300px;
  border-style: solid;
  color: #21223f;
}

.position-absolute {
  position: absolute !important;
}
