<div class="home-container">
  <fa-icon [icon]="faWallet" size="3x" class="faWallet"></fa-icon>
  <div class="pilacoins">
    <span>TOTAL DE PILA COINS</span>
    <h3><fa-icon [icon]="faCoins"></fa-icon><span>{{ this.saldo }}</span></h3>
  </div>

  <div class="pubkey">
    <span>CHAVE PUBLICA PARA TRANSFERÊNCIA</span>
    <h3>{{ this.usuario.chavePublica }}
      <fa-icon [icon]="faCopy" class="faCopy" (click)="this.copyClipboard(this.usuario.chavePublica)"></fa-icon>
    </h3>
  </div>


</div>
